body{
    background-color: #468189;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color: #031926;
    text-align: center;
    display: center;
    margin-left: 625px;
    margin-right: 625px;
    background: #9DBEBB;
    border-style: solid;
    border-color: #468189;
}
.assign{
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #F4E9CD;
    border-style: solid;
    border-color: #031926;
    box-shadow:#716868;
}
a:hover {
    text-decoration: none;
    color: #468189;
}
.assign img {
    width:20px;
    padding: 10px;
}

