body{
    background-color: #F8B195;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color: #6C5B7B;
    text-align: center;
}
.assign{
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #355C7D;
    border-style: solid;
    border-color: #000000;
    box-shadow:#716868;
}
.assign img {
    width:200px;
    padding: 10px;
}

